@model IEnumerable<Usuario>

@{
    ViewData["Title"] = "Index";
    var usuarioIdActual = ViewBag.UsuarioId?.ToString();
}

<h1 class="mb-4">Usuarios</h1>

<p>
    <a asp-action="Create" class="btn btn-primary mb-2">Nuevo usuario</a>
</p>
<table class="table table-striped">
    <thead class="table-dark">
        <tr>
            <th>Email</th>
            <th>Rol</th>
            <th>Avatar</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var u in Model)
    {
        <tr>
            <td>@u.Email</td>
            <td>@u.Rol</td>
            <td>
                @if (!string.IsNullOrEmpty(u.Avatar))
                {
                    <img src="@u.Avatar" width="50" />
                }
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@u.Id" class="btn btn-sm btn-primary">Editar</a> |
                @if (u.Id.ToString() != usuarioIdActual)
                {
                    @: |
                    <a asp-action="Delete" asp-route-id="@u.Id" class="btn btn-sm btn-danger">Eliminar</a>
                }
            </td>
        </tr>
    }
    </tbody>
</table>
