@model Paginador<Pago>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Crear Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Contrato</th>
            <th>Inquilino</th>
            <th>Dirección Inmueble</th>
            <th>Fecha de Pago</th>
            <th>Monto</th>
            <th>Periodo</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Items) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FechaPago)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Importe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroPeriodo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Observaciones)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contrato.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Borrar</a>
            </td>
        </tr>
}
    </tbody>
</table>

<div class="text-center mt-3">
    Página @Model.PaginaActual de @Model.TotalPaginas
    <div>
        @if (Model.HayAnterior)
        {
            <a class="btn btn-secondary" asp-action="Index" asp-route-pagina="@(Model.PaginaActual - 1)">Anterior</a>
        }
        @if (Model.HaySiguiente)
        {
            <a class="btn btn-secondary" asp-action="Index" asp-route-pagina="@(Model.PaginaActual + 1)">Siguiente</a>
        }
    </div>
</div>
